@using Claudi.Web.ViewModels.CalculatorViewModels
@model List<TypeViewModel>

@{
    ViewData["Title"] = "Калкулатор";
}

@section Head{
    <script type="module" src="~/js/calculator/calculator.js"></script>
    <link href="~/css/calculator.css" rel="stylesheet" asp-append-version="true" />
}

<!-- first start -->

<h1 class="h1">Калкулатор</h1>

<div id="calculator-container" class="col-md-6">
    <div class="element">
        <div class="question">
            <h3>1. Продукт <span class="element1"></span></h3>
            <button><i class="fas fa-minus-circle"></i></button>
        </div>
        <div id="productChoice" class="answer">
            <fieldset id="product">
                @foreach (var item in Model)
                {
                    <div class="raduo-button-container">
                        <input id="@item.ShortName" type="radio" name="product" value="@item.Id">
                        <label class="radio-button-label" for="@item.ShortName">@item.Name</label>
                    </div>
                }
            </fieldset>
        </div>
    </div>

    <div class="element">
        <div class="question">
            <h3>2.Модел</h3>
            <button><i class="fas fa-plus-circle"></i></button>
        </div>
        <div id="modelChoice" class="answer hideText">
            <fieldset id="model"></fieldset>
        </div>
    </div>

    <div class="element">
        <div class="question">
            <h3>3. Цвят</h3>
            <button><i class="fas fa-plus-circle"></i></button>
        </div>
        <div id="colorChoice" class="answer hideText">
             <fieldset id="color"></fieldset>
        </div>
    </div>

    <div class="element">
        <div class="question">
            <h3>3. Размери, Екстри</h3>
            <button><i class="fas fa-plus-circle"></i></button>
        </div>
        <div id="сизес" class="answer hideText">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae fugiat
                debitis voluptatibus in, rem nihil itaque deserunt facere porro laborum.
            </p>
        </div>
    </div>
</div>
<!-- first end -->
