@using Claudi.Core.ViewModels.AdministrationViewModels.AccountsViewModels
@using Claudi.Infrastructure.Common
@model IndexUsersViewModel

@{
    ViewData["Title"] = "Акаунти";
}

@section Head{
<link href="~/css/alert.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container">
    @if (Model.Created == false)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <p>Възникна грешка. Моля опитайте по-късно.</p>
        </div>
    }
    else
    {
        @if (Model.Message == Constants.SUCCESS)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class=""><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                <p>Успешна промяна.</p>
            </div>
        }
        else if (Model.Message == Constants.FAILD)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                <p>Възникна грешка.</p>
            </div>
        }
        @foreach (var user in Model.Users)
        {
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@user.Email</h5>
                        @if (user.IsAdmin)
                        {
                            <p class="card-text">Administrator</p>
                            <a href="/Administration/Accounts/DeleteAccount/@user.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Изтрий</a>
                            <a href="/Administration/Accounts/RemoveAccountAdmin/@user.Id" class="btn btn-warning" onclick="return confirm('Are you sure?')">Премахни администратор</a>
                        }
                        else
                        {
                            <p class="card-text">User</p>
                            @if (!user.IsEmailConfirmed)
                            {
                                <a href="/Administration/Accounts/ConfirmEmail/@user.Id" class="btn btn-success" onclick="return confirm('Are you sure?')">Потвърди Имейл</a>
                            }
                            <a href="/Administration/Accounts/MakeAccountAdmin/@user.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Направи администратор</a>
                            <a href="/Administration/Accounts/DeleteAccount/@user.Id" class="btn btn-danger" onclick="return confirm('Are you sure?')">Изтрий</a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
