<section class="feature-style-two bg-color-1">
    <div class="pattern-layer" style="background-image: url(../images/shape/pattern-2.png);"></div>
    <div class="auto-container">
        <div class="three-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
            <div class="feature-block-two">
                <div class="inner-box">
                    <div class="icon-box"><i class="icon-icon5"></i></div>
                    <h3>Безплатна Консултация</h3>
                    <p>Безплатна консултация по телефона или във Вашия дом.</p>
                </div>
            </div>
            <div class="feature-block-two">
                <div class="inner-box">
                    <div class="icon-box"><i class="icon-icon4"></i></div>
                    <h3>Безплатна доставка</h3>
                    <p>При нас доставката е безплатна за района на гр. София.</p>
                </div>
            </div>
            <div class="feature-block-two">
                <div class="inner-box">
                    <div class="icon-box"><i class="icon-icon6"></i></div>
                    <h3>Безплатно оразмеряване</h3>
                    <p>Взимането на размер при нас е напълно безплатно.</p>
                </div>
            </div>
        </div>
    </div>
</section>
