@{
    ViewData["Title"] = "Бамбукови Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Бамбукови Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-7.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Бамбукови Щори</h2>
                            <p>Бамбуковите щори са създадени специално за хора, които ценят естествените материали в интериорния дизайн, естествеността, високата якост и привлекателния външен вид на бамбука. Бамбуковите щори внасят стил, класа, качество и ефективност във Вашия дом, офис или заведение.</p>
                            <p>Изработени са от прецизно вплетени бамбукови ивици, тяхната миризма, стил и натуралност внасят уют както на класическия така и на модерния интериор. Съвкупността от естетичните, практичните и функционални качества на бамбука правят щорите лесни за поддръжка и устойчиви на влага. Имате възможност да изберете между 30 десена висококачествени естествени материали и два модела на събиране - като руло щора или като римска щора.</p>
                            <p>Почистване: препоръчваме почистването да става със суха къпа или мека четка.</p>
                            <p>Изберете ли бамбуковите щори Вие ще внесете естествена и натурална красота в заобикалящото Ви пространство.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
