@{
    ViewData["Title"] = "Външни Ламелни Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Външни Хоризонтални Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-9.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Външни Ламелни Алуминиеви Щори</h2>
                            <p>Външните хоризонтални щори са иновативната система за външно засенчване, която позволява прецизно регулиране на светлинния поток и топлината в помещенията. Отличният баланс между засенчване и пропускане на дневна светлина, термоизолационните им характеристики и изчистената визия ги правят незаменим компонент в концепцията за енергийна ефективност и екстериора на частните домове, съвременните офис, търговски, жилищни, промишлени и административни сгради. Щората се движи нагоре и надолу, а едновременно с това ламелите й могат да се въртят за оптимален контрол на видимостта, ограничавайки проникването на нежелани отблясъци, постигайки ненадмината функционалност и комфорт. Щорите са не само удобни и лесни за управление, но и изключително дълготрайни и устойчиви на климатичните промени. Изработени са от материали, които не променят цвета и качествата си и не се деформират при вятър, топлина или студ. Светлоотразителните им свойства способстват за отблъскване на вредните UV лъчи и осигуряване на оптимални условия за почивка или работа в помещенията, в които са монтирани. Предлагаме богат избор от ламели в различни цветове, с висока якост и еластичност в комбинация с елегантно некорозионно изпълнение на видимата част на конструкцията в цвят, синхронизиран с цвета на ламелите.</p>
                            <p>Външните хоризонтални щори напълно елиминират прехода на директни слънчеви лъчи и избягват ефекта на заслепяването. Монтират от външната страна на прозорците като имат перфектни топлоизолационни характеристики, ефективно спомагайки за намаляването консумация на електроенергия в помещенията. Като при по- големи обекти ефикасността на слънцезащита може да бъде увеличена с инсталирането на система за автоматично управление на щорите с датчици за слънце, вятър, температура.</p>
                            <p>В допълнение Вие имате многообразие от възможности за монтиране на щорите с ръчно или електронно задвижване с дистанционно.</p>
                            <p>Почистване: с влажна кърпа</p>
                            <p>Изберете ли хоризонталните външни щори Вие си осигурявате възможност за комфорт и стил в едно.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
