@{
    ViewData["Title"] = "Външни Ролетни Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Външни Ролетни Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-8.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Външни Ролетни Щори</h2>
                            <p>Външните ролетни щори са изключително подходящ продукт за цялостното оформление на дограмата във Вашия дом или офис. Със своите качества за топлоизолация, подобрена шумоизолация и възможност за регулиране на светлината, те се явяват несъмнен плюс за всеки един прозорец. Има възможност да се монтират резета, които да заключат щората и да попречат на нейното отваряне отвън. </p>
                            <p>Благодарение на специалния шумопоглъщащ материал от който е изработена щората се предотвратява навлизането на шума в дома Ви и се предпазват мебелите от избеляване.</p>
                            <p>Външните алуминиеви ролетни щори са изработени от алуминиеви компоненти и алуминиеви термоламели, пълни с изолираща пяна. Другият вид щори се изработват от PVC. Монтират се лесно - от външната страна на прозореца затова са много повече от средство за засенчване като придават на Вашата сграда един завършващ вид. Стандартно щората се управлява от обло найлоново въже, което може да се замени от манивела или електрически мотор според Вашите индивидуални предпочитания и желания. В тази връзка може да моторизирате Вашите външни щори с автоматика на Somfy с IO или RTS мотор и да си осигурете пълен комфорт и спокойствие. Чрез технологията на Somfy IO Home Control имате възможността да създадете сценарий за движение и симулиране на присъствие - това ще повиши сигурността на Вашия дом. Щорите са устойчиви на екстремни външни температури, влага и вятър. Допринасят за спестяване на разход за електроенергия – през зимата за отопление на помещението, а през лятото – за охлаждане.  Водачите на щорите се монтират към дограмата или със странично набити дюбели в нишата на прозореца. Кутията се закрепя върху водачите, като тя може да е обла или правоъгълна.</p>
                            <p>Можем да ви предложим външните ролетни щори с различни полезни екстри - датчик за вятър, датчик за светлина, който автоматично вдига или сваля щората в зависимост от избраните от Вас стойности.</p>
                            <p>Почистване: с влажна кърпа</p>
                            <p>Като обобщение избирайки външните ролетни щори Вие не само спирате слънчевите лъчи, но и внасяте в дома си неповторим уют, намалявате разходите за отопление, намалявате нивото на външния шум и си създавате пълно уединение.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
