@{
    ViewData["Title"] = "Хоризонтални Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Хоризонтални Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-1.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Хоризонтални Алуминиеви Щори</h2>
                            <p>Хоризонталните алуминиеви щори, познати още като венециански щори, са най- често използвания слънцезащитен продукт.
                                Те са лесни за употреба и поддръжка, което ги прави подходящи да защитят от слънцето както дома, така и офиса.
                                Хоризонталните алуминиеви щори са не само практични, но и универсални. Mонтират се на дограмата без да нарушават изолационните й качества.
                                Изработени са от алуминиеви ламели с ширина 16 мм или 25 мм с цветно лаково покритие, което не избелява и
                                разнообразни висококачествени управляващи механизми. Предлагат се на достъпни цени във внушителен брой от цветове и видове,
                                включително и такива имитиращи дърво и black out. Прецизната им изработка и висококачествените материали гарантират употребата
                                на този вид щори с години наред. Механизмите им за управление ви позволяват лесно и ефективно да регулирате светлинния поток.
                                Удобни са за експлоатация, демонтират се лекота и се почистват бързо и без усилие с влажна кърпа или с четка за прах.</p>
                            <p>Изберете ли хоризонталните щори, Вие ще си осигурите светлинен комфорт на достъпни цени.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />