@{
    ViewData["Title"] = "Комарници";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Мрежи Против Насекоми</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-11.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Комарници</h2>
                            <p>Трайно и надеждно средство да се решат завинаги проблемите с досадните насекоми, посещаващи дома Ви, са съвременните противонасекомни мрежи или т. нар. комарници. Те са често пренебрегван детайл към прозореца, но именно той осигурява спокойствието Ви. Монтирани на прозорците или вратите, с добър естетически вид, те осигуряват качествена денонощна защита от насекомите без да намаляват видимостта или светлината.</p>
                            <p>Като цяло противокомарните мрежи се характеризират с това, че са универсални - могат да се използват както за врати, така и за прозорци, не изискват почти никаква поддръжка, почти невидими са - не пречат на гледката, както и не заемат допълнително място.</p>
                            <p>Изработени са от алуминиеви профили и мрежа от фибростъкло с фиксиране в точките на пресичане на нишките за по - голяма здравина. Те са висококачествен продукт, устойчив на всякакви атмосферни влияния, лесни са за поддръжка, монтаж и демонтаж, имат разнообразни цветове на профилите. Предлагат се 5 основни вида мрежи против насекоми: мрежа с панти, фиксирана мрежа, ролетна мрежа, врати мрежи и плисе мрежи. Предимство е, че могат едновременно да се монтират и с външни ролетни щори.</p>
                            <p>Ако изберете мрежите против насекоми Вие ще си осигурите спокойствие през горещите летни вечери.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
