@{
    ViewData["Title"] = "Плисе Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Плисе & Дует Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-6.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Плисе & Дует Щори</h2>
                            <p>Плисе & Дует щорите са неизменна част от усещането за романтика и лукс във Вашия дом или офис. Наричани още щори "хармоника", заради начина на сгъване на плата, те са много подходящи за прозорци с нестандартни форми - триъгълни, арки, многоъгълни, трапецовидни, наклонени прозорци, капандури и такива с нестандартна форма, които изобилстват в съвременната архитектура. Те комбинират в себе си модерен дизайн и контрол на светлината, редуцират стайната температура и видимостта.</p>
                            <p>Платовете са висококачествени и са съставени от материи, които не задържат прах и мърсотия като се предлагат в различна гама от полупрозрачни до напълно затъмняващи платове, негорими, антистатични и влагозащитени, както и интересните платове с рисунки и мотиви специално предназначени за детски стаи. Предлаганите модели плисе щори са в два варианта: свободно висяща щора за вертикални прозорци и щора с обтегнати корди, за прозорци с наклон от 0° до 15°. А с рамка Perfect fit се позволява монтаж на щората БЕЗ разпробиване на дограмата.</p>
                            <p>Интересна разновидност на плисе щорите са Дует & Дует Фикс щорите. Те имитират структурата на пчелната пита(в разрез са като шестоъгълник) и имат най-добрите термоизолационни характеристики от всички материали за вътрешно засенчване. Още повече двустепенната структура на плата го прави екстремно здрав, ширината на гънките се запазва еднаква по цялата височина на щората.</p>
                            <p>Плисе & Дует щорите могат да се управляват както ръчно, така и с електромотор на Somfy с управление с бутон или с дистанционно.</p>
                            <p>Почистване: при наличие на прах върху плата той може да се отстрани с мека четка или чрез внимателно избърсване с влажна кърпа.</p>
                            <p>Изберете ли плисе щори Вие добавяте един стилен аксесоар към Вашия дом.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
