@{
    ViewData["Title"] = "Руло Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Руло и Ден & Нощ Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-4.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Руло и Ден & Нощ Щори</h2>
                            <p>Руло щорите са едно много практично и различно решение, за да декорирате интериора в дома или офиса. Те са стилни, изискани и свежи. Предпочитани са за помещения като кухни, бани, коридори като идеално се съчетават с избраните от вас пердета. Успешно се монтират на прозорци, врати, дори на тавана.</p>
                            <p>Платовете от които се изработват роло щорите са висококачествени, имат различна степен на пропускаемост, абсорбация и отразяване на слънчевата светлина. Те са съставени от 100% полиестер и в зависимост от дебелината и плътността на плата имат и различно функционално предназначение в зависимост от вашите желания. Платовете са още антистатични и са лесни за почистване. Но най- важното е, че са соларно защитени, тоест предпазват Вас и Вашите мебели от вредните слънчеви лъчи. Съответно ако си изберете по плътна материя ще си подсигурите по- голяма защита и по-добро затъмнение в помещенията си. Специално за клиентите, които искат да имат продукт, който съчетава предимствата на класическите руло щори и тези на ламелните щори, предлагаме серията модели Ден и Нощ, които се изработват от платове с редуващи се последователно прозрачни и непрозрачни ивици.</p>
                            <p>Механизмите на руло щорите са лесни за употреба. Спускането и повдигането на щорите се осъществява ръчно посредством верижка като щом стигнете желаното от Вас положение просто спирате и плата се застопорява. Има вариант и за задвижване с ел. мотор Somfy, управляван чрез бутон или дистанционно</p>
                            <p>Почистване: при наличие на прах върху плата, той се отстранява с мека четка. Петната по плата могат да се почистят чрез внимателно избърсване с влажна кърпа. </p>
                            <p>Изберете ли руло щори Вие ще покажете стил, изисканост и свежест.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />