@{
    ViewData["Title"] = "Римски Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Римски Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-5.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Римски Щори</h2>
                            <p>Римските щори са един от най-актуалните модели щори в съвременния интериор. Те са алтернатива на пердетата и в последните години успешно заместват в декорацията добре познатите ни пердета. Обликът на римската щора придава индивидуалност към интериора Ви и същевременно внася нежния уют, като бяга от стереотипа на старите завеси и пердета. Римските щори могат да бъдат акцент, допълнение или част от цялостния съвременен интериор и във всяка от тези роли да му придават артистичност и изящество. </p>
                            <p>Римските щори са изработени от текстилни платове в разнообразна ценова гама и лесни за употреба механизми. Когато са спуснати платът застава почти гладък пред стъклото, а при събирането им- елегантно се надипля. Монтирането им принципно става над дограмата, където се надипля плата, така щората се спуска от тавана, за да се получи красив завършен вид. Стандартно римските щори се изработват с ръчно управление. За Ваше улеснение предлагаме и електрозадвижване, което отговаря на изискванията за детска безопасност и удължава живота на Вашите щори.</p>
                            <p>Текстилът е висококачествен, материите са както плътни така и леки, ефирни и полупрозрачни, оцветени в меки, пастелни тонове, радващи окото. Цветът не може да избелее от слънчевите лъчи и Ви осигурява до 100% затъмнение. Механизмът на щората осигурява лесен демонтаж на текстила, за да може да го почистите (пере се в пералня на 30 градуса без центрофуга) или подмените.</p>
                            <p>Изберете ли римските щори Вие ще осигурите пълната красота на текстила във Вашия дом.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
