@{
    ViewData["Title"] = "Сенници";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Сенници</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-10.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Сенници</h2>
                            <p>Сенникът (или още широко познат като тента) е изделие за предпазване от слънце или дъжд като същевременно с това превръща Вашия дом, тераса или заведение в атрактивно и функционално жилищно пространство с едно движение.</p>
                            <p>Той осигурява комфорт и същевременно предпазва от изгаряне. В зависимост от вида и площта на мястото, на което трябва да се монтира се определя моделът и конструкцията му като за тази цел предлагаме голямо разнообразие от различни по функционалност сенници.</p>
                            <p>Едни от основните предимства на сенника са: той е средство за красива и ефективна защита от слънце, вятър и дъжд; спира прекият контакт на очите със слънчевите лъчи; филтрира лъчите като спира вредните UV лъчи, предпазва от изгаряне; не запарва; не спира притока на естествена светлина, предпазва от избеляване изложените стоки на витрините на магазините и на мебелите във Вашата градина или тераса.</p>
                            <p>Сенникът се изработва по индивидуален размер на клиента като има възможност да бъдат с електронно задвижване с автоматиката на Somfy IO и RTS мотори и с датчик за вятър или вятър/ слънце за по- висока степен на защита. Предлага се в богата гама от цветове и десени на PVC или акрилни платове, а качеството на тъканта гарантира дълги години пълноцветна красота, без притеснения от избелване или прокъсване. Разнообразието от платове може да Ви осигури хармонично съчетание на всички части от фасадата на Вашия дом, екстериора или интериора. Качествените материали и професионалната изработка на тентите гарантират дълъг период на експлоатация. </p>
                            <p>Осигурете комфорта си на открито.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />
