@{
    ViewData["Title"] = "Вертикални Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Вертикални Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-2.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Вертикални Щори</h2>
                            <p>Вертикалните щори са едно изключително интересно решение за създаване на неповторим интериор и уют във Вашия дом или офис. Те придават допълнителен стил и елегантност на стаите като спомагат за визуалното увеличаване на височината на помещенията, бидейки идеалният заместител на пердетата и завесите в дома Ви. Вертикалните щори съчетават предимствата на ламелната щора, която позволява пълен контрол на светлината, с тези на текстила – непреходен елемент на интериора. Те са идеалното решение при засенчване на големи прозорци, витрини, плъзгащи се панели или цели стени, както за дома така и за офис помещения. За нестандартните прозорци предлагаме греди с наклон до 45⁰.</p>
                            <p>Вертикалните щори се предлагат в богата цветова гама от плат в широк ценови диапазон. Материите са с различна степен на пропускане и абсорбиране на светлина - от полупрозрачни до напълно затъмняващи платове – при ширина на ламела 89 мм или 127 мм, както и алуминиеви ламели с ширина 89 мм. Материите са още антистатични, отблъсващи прах и дим и са лесни за поддръжка. Гредите за вертикални щори се задвижват ръчно със синджир или PVC пръчка, а модел EOS позволява и задвижване с ел. мотор. В допълнение щорите се предлагат с декоративен корниз, който придава завършен вид на изделието.</p>
                            <p>Почистване: поради вертикалното си разположение ламлите не могат да събират прах, ако все пак установите такъв - същият може да се почисти с мека четка. Петната по ламелите могат да се отстранят чрез внимателно избърсване с влажна/мокра кърпа.</p>
                            <p>Изберете ли вертикалните щори Вие ще си осигурите един неподражаем и стилен интериор.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />