@{
    ViewData["Title"] = "Дървени Щори";
}

<!--Page Title-->
<section class="page-title" style="background-image: url(/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Дървени Щори</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Начало</a></li>
                <li class="shape"></li>
                <li>Продукти</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- service-details -->
<section class="service-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="service-sidebar default-sidebar mr-20">
                    <partial name="_ServiceDetails" />
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="service-details-content">
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/service/service-details-3.jpg" alt=""></figure>
                        <div class="text">
                            <h2>Дървени Хоризонтални Щори</h2>
                            <p>Дървените щори са луксозният вариант на познатите ни хоризонтални щори с който може да придадете естествената топлина и уют във вашия дом, офис, заведение. Тяхната майсторска изработка, високо качество ги поставят на едно от първите места сред слънцезащитните продукти, търсени от хора с високи изисквания за красота, стил и дизайн. Уютът се създава заради естественият произход на щорите. Цветът и миризмата, които те носят са несравними в интериора на помещението и същевременно с това защитават вас и Вашите мебели от слънчевите лъчи и топлината. Прецизно изработени от естествена, твърда палмова дървесина, дървените щори се отличават с висока издръжливост, лесна поддръжка и минимална абсорбция на топлина. Поддръжниците на Фен-Шуй ще потвърдят, че според древната източна философия, дървото се счита за символ на постоянен личен растеж и материално благополучие. В допълнение, едно дърво е класическо, което е малко вероятно някога да излезе от модата.</p>
                            <p>Дървената щора е изработена от дървени ламели с ширина 25 мм или 50 мм, като профилите и кордите са цветово съчетани с цвета на ламелите. Стандартно горната греда на щората се скрива с дървен корниз. Щорите се изработват по индивидуалните размери на клиента с различни начини на управление и допълнителни укрепвания, така че да се впишат перфектно в интериора. Дървените щори се монтират лесно както на стена, така и на таван, и се задвижват ръчно или чрез електромотор.</p>
                            <p>Почистване: препоръчваме почистване със суха или леко влажна кърпа без препарати.</p>
                            <p>Изберете ли дървените щори Вие ще си осигурите лукс, уют и натуралност.</p>
                        </div>
                    </div>
                    <div class="two-column">
                        
                    </div>
                    <div class="content-two">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="inner-box">
                                    <figure class="vector-image-2"><img src="~/images/resource/vector-image-6.png" alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Индивидуална изработка</li>
                                            <li>Без компромиси в качеството</li>
                                            <li>Контрол на светлината</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Натурални цветове</li>
                                            <li>Най-добър избор</li>
                                            <li>Лесни за употреба</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-details end -->

<partial name="_FreeFeatures" />