.calculator-container {
    height: auto;
    padding: 10px;
}

.element {
    padding: 1px;
    background: #f7f7f7;
    margin: 1px 0;
    border-radius: 6px 2px 2px 2px;
    border: 1px solid #4a3b9f;
    border-width: 1px 1px 1px 5px;
}

.element > .question > h3 {
    color: darkgray;
}

.element > .question > h4 {
    font-family: sans-serif;
    color: #ffc107;
}
h1 {
    font-family: sans-serif;
    color: #0c2636;
}

h2 {
    font-family: sans-serif;
    color: darkgray;
}

.element .question {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.question > h3 {
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
    color: white;
}

#result{
    margin: 10px;
}

.margin-10px {
    margin: 10px !important;
}

input[type=checkbox] + label {
    margin-left: 2px !important;
} 

.question button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.question i {
    color: darkgrey;
    font-size: 20px;
}

.element .answer {
    padding: 10px 20px;
    animation: animate .1s;
    background: white;
}

.element .answer .radio-button-label {
    color: black;
}

p {
    font-family: sans-serif;
}

.hideText {
    display: none;
}

radio {
    cursor: pointer;
}

label {
    padding-left: 10px !important;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.sample-image {
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

div#extras {
    background-color: #e9ecef;
    border-radius: 3px;
    border: 1px solid #ced4da;
    color: #6c757d;
    font-size: 0.85em;
}

div#extras > ul {
    background-color: #e9ecef;
}

.alert-dismissible > p{
    margin: 2px 20px;
}

.alert-dismissible{
    margin: 10px 0px 0px 0px;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
