@{
    ViewData["Title"] = "Начало";
}

<section class="banner-section style-one">
    <div class="pattern-layer">
        <div class="pattern-1"></div>
        <div class="pattern-2"></div>
        <div class="pattern-3"></div>
        <div class="pattern-4"></div>
    </div>
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none nav-style-one">
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/images/banner/banner-1.jpg)"></div>
            <div class="content-box">
                <h1>Щори <br />Вътрешни и Външни</h1>
                <div class="text">
                    <p>Разбери повече ...</p>
                    <div class="line"></div>
                    <a href="/Products/Index" class="theme-btn-one">Още</a>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/images/banner/banner-2.jpg)"></div>
            <div class="content-box">
                <h1>Сенници <br />Всички Видове</h1>
                <div class="text">
                    <p>Разбери повече ...</p>
                    <div class="line"></div>
                    <a href="/Products/Tents" class="theme-btn-one">Още</a>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/images/banner/banner-3.jpg)"></div>
            <div class="content-box">
                <h1>Мрежи Против <br />Насекоми</h1>
                <div class="text">
                    <p>Разбери повече ...</p>
                    <div class="line"></div>
                    <a href="/Products/Nets" class="theme-btn-one">Още</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">
                            <p>Добре Дошли в Клауди Щори</p>
                            <div class="shape"></div>
                            <h2>Ние правим вашия дом свеж и модерен</h2>
                        </div>
                        <div class="text">
                            <p>
                                С повече от 10 годишна история фирма Клауди 2011 ЕООД  е един от лидерите на пазара за производство,
                                продажба и монтаж на щори, сенници и мрежи против насекоми. Нашата продукция се отличава с прецизна изработка,
                                високо качество, богат избор на цветове и решения и най-вече конкурентни цени.
                            </p>
                            <p>
                                Екипът ни е съставен от амбицирани и компетентни специалисти, които са подготвени да отговорят на Вашите нужди,
                                да помогнат при реализирането на Вашите идеи.
                            </p>
                        </div>
                        <div class="inner-box">
                            <figure class="vector-image"><img src="~/images/resource/vector-image-1.png" alt=""></figure>
                            <div class="inner clearfix">
                                <ul class="list-item">
                                    <li>Индивидуалност</li>
                                    <li>Високо качество</li>
                                </ul>
                                <ul class="list-item pl-45">
                                    <li>Богат избор от цветове</li>
                                    <li>Най-добрият избор</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_1">
                    <div class="image-box ml-55">
                        <figure class="vector-image rotate-me"><img src="~/images/resource/vector-image-2.png" alt=""></figure>
                        <div class="image-pattern">
                            <div class="pattern-1"></div>
                            <div class="pattern-2"></div>
                            <div class="pattern-3"></div>
                            <div class="pattern-4"></div>
                        </div>
                        <figure class="image"><img src="~/images/resource/about-1.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_FreeFeatures" />