@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърдете имейла";
}

@section Head{
    <link href="~/css/alert.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage"/>
</div>
