@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение на забравена парола";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Моля проверете имейла си.
    </p>
</div>
