@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Възстановена парола";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Вашата парола беше възстановена. Моля <a asp-page="./Login">влезте в акаунта си</a>.
    </p>
</div>